.list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: var(--fnt-clr);
  border: 1px solid rgb(197, 197, 197);
  background-color: #eeeeee;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.card {
  overflow-y: auto;
  border-radius: 4px;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 8em;
  width: 100%;
}

.card h3 {
  font-size: 1em;
}

.card__time,
.status {
  padding: 0.5em 1em;
  background-color: rgb(235, 106, 106);
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  font-size: 0.8em;
}

.card--no-data {
  min-height: 20rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: unset;
}

.card__array {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card__array--description {
  gap: 1em;
  list-style: none;
}

.card__array--benefit {
  list-style: none;
}

.card span {
  font-weight: bold;
  color: rgb(172, 25, 25);
}

.card__link {
  word-break: break-all;
}

.status {
  text-transform: uppercase;
  background-color: var(--fnt-pending);
}

.card__button {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}

.card__button button {
  flex-shrink: 0;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.8em;
}
.card__button button:hover {
  border: 1px solid rgb(214, 214, 214);
}

.card__button__active {
  border: 1px solid rgb(54, 89, 185) !important;
}

.card__button__remove {
  background-color: rgb(201, 81, 81) !important;
  margin-left: auto;
  color: #fff;
}

@media (max-width: 900px) {
  .card {
    padding: 2em;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 1em;
  }
  .card__array {
    list-style: none;
  }
}
