:root {
  --pri-clr: #302992;
  --container-clr: #eeeeee;
  --fnt-clr: rgb(49, 49, 49);
  --fnt-pending: black;

  --pending-clr: rgb(105, 165, 206);
  --passed-clr: rgb(114, 196, 66);
  --rejected-clr: rgb(179, 93, 93);
  --started-clr: rgb(221, 193, 69);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
}

a {
  color: rgb(10, 65, 216);
}

.status--pending,
.company--pending,
.filter__status__pending {
  --fnt-pending: var(--pending-clr);
}

.status--passed,
.company--passed,
.filter__status__passed {
  --fnt-pending: var(--passed-clr);
}

.status--rejected,
.company--rejected,
.filter__status__rejected {
  --fnt-pending: var(--rejected-clr);
}

.status--started,
.company--started,
.filter__status__started {
  --fnt-pending: var(--started-clr);
}

.bg-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  left: 0;
  top: 0;
  z-index: 998;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 2rem 0.5rem;
  }
}
